* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.section {
	padding: 20px;
}

body {
	font-family: 'Inter', sans-serif;
}

/* NAV  */

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f55a5a;
	height: 55px;
}

.icon {
	margin: 6px;
}

.title {
	font-weight: 500;
	font-size: 15px;
	/* ten lh ewentualnie do wywalenia pod koniec  */
	line-height: 17.5px;
	letter-spacing: -0.075em;
	color: #ffffff;
}

/* HERO */

.bold {
	font-weight: bold;
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	/* sprawdzic czy ten mx jest git czy ma byc inny */
	max-width: 1200px;
}
